.cont{
    background-image:url("https://i.pinimg.com/originals/70/d7/18/70d71850bd75fb26213c3a5b466ad184.jpg");
    background-repeat:no-repeat;
    background-size:cover;
    padding-left:25%;
    padding-top:25%;
}