
<div style="text-align:center">
  
  <div>
    <h1> Welcome to Your own voice </h1>
    <hr>
    
        <!-- <p *ngFor='let quote of quotes'>
          {{quote.name}}
          <app-quotedetails [quote]='quote'></app-quotedetails>
        </p> -->
        <div *ngFor='let quote of quotes;let i = index'>
            <li>{{quote.name}} published on {{quote.completeDate|date|uppercase}}</li>
            <button (click)='toggleDetails(i)'>Read more..</button>
            <app-quotedetails *ngIf='quote.showDescription' [quote]='quote' (isComplete) = 'completeQuote($event,i)'></app-quotedetails>
         
          </div>
          <app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>
  </div>
  </div>