.button1{
background-color:#ecc6c6;
  border: none;
  color: white;
  position:relative;
  padding:15px 32px;
  border-radius:8px;
}
.button2{
    
      border: 1px solid transparent;
      color:black;
      position:relative;
      padding:15px 32px;
      border-radius:8px;
    }
    .button3{
        background-color:#f9ecec;
          border: none;
          color: white;
          position:relative;
          padding:15px 32px;
          border-radius:8px;
        }