
<div class="container-fluid">
    <h2 class="text-center">Create a new Goal</h2>
    <hr>
    <form (ngSubmit)='submitGoal()' #goalForm='ngForm'>
        <div class="frm">
  
            <label for="name">Name</label>
            <input type="text" required class="theformname" id="name"  [(ngModel)]="newQuote.name" name="name"><br>
                <!-- {{newQuote.name}} -->
  
        </div>
        <div class="frm">
  
            <label for="description">Description</label>
            <textarea class="theformname" id="description" rows="4" required  [(ngModel)]="newQuote.description" name="description"></textarea>
  
        </div>
        <div class="frm">
            <label for="complete">Completion</label>
            <input type='date' id="complete" required [(ngModel)]="newQuote.complete" name="complete">
  
        </div>
        <button type="submit" >Post Quote</button>
    </form>
  </div>